.payout{
    background-color: #a0e7b9;
}
.dealer{
    background-color: #a0dce7;
}
.sales{
    background-color: #fae7a3;
}
.holiday{
    background-color: #f79a97;
}
.default1{
    background-color: #bff9ec;
}
.default2{
    background-color: #c5cffc;
}
.default3{
    background-color: #f0d7f3;
}
.default4{
    background-color: #d7eef3;
}